body {
  font-family: "Open Sans", sans-serif;
  color: #404041;
  text-align: center;
}

h2 {
  color: #ED458B;
}

.button{
  border-radius: 12px;
  background-color: #929497;
  color: #FFFFFF;
}

.button:hover {
  background-color: #EB008B;
  color: #FFFFFF;
}

.button:disabled {
  background-color: #D0D2D3;
  color: #FFFFFF;
}
